.container-about {
    line-height: 1.5;
    max-width: 900px;
    h3 {
        font-family: $font-2;
        padding: 40px 0 25px 0;
        font-size: 30px;
        font-weight: 700;
    }
    p {
      font-size: 20px;
      color: $color-3;
    }
    &__text {
      opacity: 0.85;
      margin: 30px 0 30px 0;
      display: block;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      font-size: 20px;
      & strong {
        max-width: 400px;
      }
      &-color {
        color: #5D7B6F !important;
        margin-bottom: 10px;
        font-size: 28px !important;
      }
      &-color-grey {
        color: #2d3748 !important;
        margin-bottom: -10px;
        font-size: 28px !important;
      }
    }
    .container-cv {
      text-align: center;
      padding: 35px 0 0 0;
      display: flex;
      justify-content: center;
      gap: 80px;
      & button {
        color: $background-1;
        padding: 12px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        background: white;
        letter-spacing: 0.5px;
        position: relative;
        border: 2px solid $background-1;
        border-radius: 15px;
        overflow: hidden;
        &:hover {
          z-index: 10;
          color: $color-1;
          & .icon-download {
            color: white;
          }
      }
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0; bottom: 0; left: 0; right: 0;
        transition: 0.4s;
        background: $background-1;
        }
      }
      .icon-download {
        color: $background-1;
        font-size: 28px;
      }
    }
}

.container-cv button::after {
  height: 100%;
  width: 0;
}

.container-cv button:hover::after {
width: 100%;
}