.container-about {
    line-height: 1.5;
    h3 {
        font-family: $font-2;
        padding: 40px 0 25px 0;
        font-size: 30px;
        font-weight: 700;
    }
    p {
      opacity: 0.85;
    }
}