.container-projects {
    background: $background-3;
    padding-bottom: 60px;
    .container-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
            font-family: $font-2;
            padding: 60px 0 25px 0;
            font-size: 30px;
            font-weight: 700;
            width: 100%;
        }
        .card-template {
            width: 47%;
            padding: 20px;
            margin: 10px;
            background: $color-1;
            box-shadow: 1px 1px 3px rgba($background-2, 0.7);
            border-radius: 5px;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            &:hover {
                transition: 0.5s;
                transform: scale(1.01);
                box-shadow: 1px 1px 3px rgba($background-2, 1);
            }
            .card-title {
                h5 {
                    font-size: 18px;
                    min-height: 36px;
                    text-align: center;
                }
            }
            .card-picture {
                text-align: center;
            }
            & img {
                max-width: 100%;
                height: 130px;
                margin: auto;
                object-fit: cover;
                @media screen and (max-width: 425px) {
                    height: 100%;
                }
            }
            .card-description {
                min-height: 175px;
               & h4 {
                    padding: 10px 0 10px 0;
                }
                li.description {
                    padding: 2px 0 2px 0;
                }
            }
            .card-languages {
                & h4 {
                    padding: 0 0 10px 0;
                }
            }
            .container-block-title {
                height: 185px;
                @media screen and (max-width: 400px) {
                    height: auto;
                }
            }
            .container-height {
                height: 270px;
                @media screen and (max-width: 992px) {
                    height: 330px;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 400px) {
                    height: 380px;
                }
            }
        }
        .card-container-link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            & button {
                background: $color-1;
                cursor: pointer;
            }
            .card-git {
                text-align: center;
                width: 50%;
            }
            .card-link {
                margin-top: auto;
                margin-bottom: auto;
                width: 50%;
            }
            button.git {
                margin: 10px;
                width: 100px;
                height: 50px;
                & span {
                    padding: 5px;
                }
            }
            .icon-img {
                img {
                    width: 24px;
                    height: 24px;
                }
        }
        }
        ul.list-languages {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            width: 100%;
            flex-wrap: wrap;
            & .languages {
                margin: 0 10px 10px 0;
            }
            & span {
                padding: 9px;
                background: $color-2;
                color: $color-1;
                max-height: 40px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                width: 100%;
            }
        }
    }

}

.container-projects::before {
    content: "";
    clip-path: polygon(100% 0, 0 100%, 0 0);
    height: 65px;
    background: $color-1;
    position: absolute;
    width: 100%;
    @media screen and (max-width: 992px) {
        height: 30px;
    }
}
.container-projects::after {
    content: "";
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    height: 65px;
    background: $color-1;
    position: absolute;
    width: 100%;
    @media screen and (max-width: 992px) {
        height: 0;
    }
}